## Find all of the dates when companies first published their quarterly reports

In [40]:
import bql
import pandas as pd

In [2]:
bq = bql.Service()

In [29]:
index = 'SPX Index'

rebalance_dates = ['2023-12-31',
        '2023-09-30',
        '2023-06-30',
        '2023-03-31',
        '2022-12-31',
        '2022-09-30',
        '2022-06-30',
        '2022-03-31',
        '2021-12-31',
        '2021-09-30',
        '2021-06-30',
        '2021-03-31',
        '2020-12-31',
        '2020-09-30',
        '2020-06-30',
        '2020-03-31',
        '2019-12-31',
        '2019-09-30',
        '2019-06-30',
        '2019-03-31',]

univ = bq.univ.members(index,dates='2019-12-31')
field = bq.data.sales_rev_turn(dates=bq.func.range('-5Y','0D'), fa_period_type='Q')

In [ ]:
# for each rebalance date, get the members of the index at that time and look up their reporting dates

In [31]:
all_data = []

def get_reporting_dates_per_rebalance(date):
    univ = bq.univ.members(index, dates=date)
    field = bq.data.sales_rev_turn(dates=bq.func.range('-5Y','0D'), fa_period_type='Q')
    req = bql.Request(univ, field)
    data = bq.execute(req)
    df = data[0].df().dropna()
    return df.sort_values('PERIOD_END_DATE', ascending=True).reset_index().drop_duplicates(subset=['ID','PERIOD_END_DATE'], keep='first')

In [35]:
def run():
    for date in rebalance_dates:
        all_data.append(get_reporting_dates_per_rebalance(date))
        print("Complete for ", date)
    df = pd.concat(all_data)
    df_concat = df[['ID','AS_OF_DATE','PERIOD_END_DATE']].sort_values('PERIOD_END_DATE', ascending=True).drop_duplicates(subset=['ID','PERIOD_END_DATE'], keep='first')
    return df_concat.set_index(['ID','PERIOD_END_DATE']).sort_values(['ID','PERIOD_END_DATE'])

In [36]:
run()

Complete for %s 2023-12-31
Complete for %s 2023-09-30
Complete for %s 2023-06-30
Complete for %s 2023-03-31
Complete for %s 2022-12-31
Complete for %s 2022-09-30
Complete for %s 2022-06-30
Complete for %s 2022-03-31
Complete for %s 2021-12-31
Complete for %s 2021-09-30
Complete for %s 2021-06-30
Complete for %s 2021-03-31
Complete for %s 2020-12-31
Complete for %s 2020-09-30
Complete for %s 2020-06-30
Complete for %s 2020-03-31
Complete for %s 2019-12-31
Complete for %s 2019-09-30
Complete for %s 2019-06-30
Complete for %s 2019-03-31

In [38]:
len(all_data)

37

In [41]:
df = pd.concat(all_data)

In [52]:
df_concat = df[['ID','AS_OF_DATE','PERIOD_END_DATE']].sort_values('PERIOD_END_DATE', ascending=True).drop_duplicates(subset=['ID','PERIOD_END_DATE'], keep='first')

In [61]:
df_concat.set_index(['ID','PERIOD_END_DATE']).sort_values(['ID','PERIOD_END_DATE'])#.to_csv('test.csv')

                                   AS_OF_DATE
ID                 PERIOD_END_DATE
1927294D UN Equity 2019-03-29      2020-01-20
2078185D UN Equity 2019-10-31      2020-01-20
                   2020-01-31      2020-03-20
                   2020-04-30      2020-06-09
                   2020-07-31      2020-08-27
...                                       ...
ZTS UN Equity      2023-09-30      2023-11-02
                   2023-12-31      2024-02-13
                   2024-03-31      2024-05-02
                   2024-06-30      2024-08-06
                   2024-09-30      2024-11-04

[11999 rows x 1 columns]

In [21]:
req = bql.Request(univ, field)
data = bq.execute(req)

In [22]:
df = data[0].df().dropna()

In [23]:
df.sort_values('PERIOD_END_DATE', ascending=True).reset_index().drop_duplicates(subset=['ID','PERIOD_END_DATE'], keep='first')

,ID,REVISION_DATE,AS_OF_DATE,PERIOD_END_DATE,CURRENCY,ID_DATE,"SALES_REV_TURN(fa_period_type='Q',dates=RANGE(-5Y,0D))"
0,BAX UN Equity,2019-07-30,2020-01-20,2019-06-30,USD,2019-12-31,2.840000e+09
1,MKC UN Equity,2019-10-01,2020-01-20,2019-08-31,USD,2019-12-31,1.329200e+09
2,PEP UW Equity,2019-10-03,2020-01-20,2019-09-07,USD,2019-12-31,1.718800e+10
3,DHR UN Equity,2019-10-24,2020-01-20,2019-09-27,USD,2019-12-31,5.037300e+09
4,LDOS UN Equity,2019-10-29,2020-01-20,2019-09-27,USD,2019-12-31,2.835000e+09
...,...,...,...,...,...,...,...
15881,WFC UN Equity,2025-01-15,2025-01-15,2024-12-31,USD,2019-12-31,3.059700e+10
15882,UNH UN Equity,2025-01-16,2025-01-16,2024-12-31,USD,2019-12-31,1.008070e+11
15883,SLB UN Equity,2025-01-17,2025-01-17,2024-12-31,USD,2019-12-31,9.284000e+09
15884,USB UN Equity,2025-01-16,2025-01-16,2024-12-31,USD,2019-12-31,1.066400e+10
15885,STT UN Equity,2025-01-17,2025-01-17,2024-12-31,USD,2019-12-31,5.672000e+09