# Base Case to test Portfolio Construction

### Import the required libraries

In [1]:
import bql
import pandas

In [2]:
bq = bql.Service()

In [10]:
returns = bq.func.cumprod(1 + bq.data.day_to_day_tot_return_gross_dvds(start='-5y', end='0d').dropna())
security = 'INDU Index'

In [11]:
req = bql.Request(security, returns)
data = bq.execute(req)
data[0].df()

,DATE,"CUMPROD((1+DROPNA(DAY_TO_DAY_TOT_RETURN_GROSS_DVDS(start=-5Y,end=0D))))"
ID,,
INDU Index,2020-02-25,0.968547
INDU Index,2020-02-26,0.964121
INDU Index,2020-02-27,0.921697
INDU Index,2020-02-28,0.909583
INDU Index,2020-03-02,0.955903
...,...,...
INDU Index,2025-02-19,1.764834
INDU Index,2025-02-20,1.747203
INDU Index,2025-02-21,1.717594
INDU Index,2025-02-24,1.718907
INDU Index,2025-02-25,1.725233

In [12]:
import plotly as pt